<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<script>
  function clicked1(){
      window.location.href="http://localhost:8080/NewUser"
  }
  function clicked2(){
      window.location.href="http://localhost:8080/NewLawyer"
  }

</script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
This is PreHome<br>
<button type="submit" name="numbers" onclick="clicked1()">Create User Account </button>
<button type="submit" name="numbers" onclick="clicked2()">Create Lawyer Account </button>
</body>
</html>